<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0" *ngIf="nav.visible()">
    <div class="container-lg">
      <a class="navbar-brand p-0 d-inline-flex flex-row align-items-center" [routerLink]="['/']">
        <img style="height: 90px; background-color: #bf1828;" src="assets/img/logo.png" />
        <h3 class="nav-link m-0 text-white-50 align-self-end mb-2">Utility Panel</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex flex-lg-column align-self-end" id="navbarSupportedContent">
        <div class="d-lg-inline-flex flex-lg-row w-100 my-2 fw-bolder">
          <ul class="navbar-nav align-self-center me-5">
            <li class="nav-item">
            </li>
          </ul>
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item dropdown d-flex align-items-center">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Angular Test Modules
              </a>
              <ul class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" [routerLink]="['/counter']">Counter</a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/fetch-data']">Fetch data</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
              <div class="btn-group">
                <button class="btn btn-outline-secondary fw-bold" (click)="logOut()">Logout</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item fw-bold" href="/">Profile Settings</a>
                  <a class="dropdown-item fw-bold" href="/">Add Unit</a>
                  <hr />
                  <a class="dropdown-item fw-bold" href="/">Exit Utility Panel</a>
                </ul>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </nav>
</header>
