<a class="flex-row text-decoration-none text-dark fw-bold p-3 p-md-1 align-content-center" *ngIf="unit ">

  <div class="d-flex flex-row">
    <div class="d-flex align-items-center bg-gradient shadow border border-secondary rounded">
      <div class="m-2 d-flex justify-content-start h4">
        {{unit.name}}
      </div>
      <div class="vr bg-dark"></div>
      <div class="m-2 d-flex fw-bold text-center" innerHTML="{{status()}}">
      </div>
    </div>
    <div class="flex-grow-1 text-end justify-content-center m-auto">
      Updated at {{updated()}}
    </div>
  </div>

  <br />

  <div>
    <div class="d-flex flex-row align-content-center">
      <div class="d-flex my-auto">Temperature: </div>
      <div class="d-flex text-nowrap px-2 py-2" innerHTML="{{temp()}}">
      </div>
    </div>

    <div class="d-flex flex-row align-content-center">
      <div class="d-flex my-auto">Fan Status: </div>
      <div class="d-flex text-nowrap px-2 py-2" innerHTML="{{fan()}}">
      </div>
    </div>
    <div class="d-flex justify-content-start align-items-center">
      <a class="btn btn-danger my-2" (click)="openBtn()">
        Open Unit
      </a>
    </div>
  </div>
</a>
