<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-0">
        <div class="container-fluid container-md">
            <a class="navbar-brand p-0" asp-page="Index">
                <img style="height: 90px; background-color: #0a58ca" src="/img/logo.png" />
            </a>  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-md-flex flex-md-column" id="navbarSupportedContent">
                <div class="d-none d-md-inline-flex flex-row justify-content-end text-muted w-100">
                    <div class="ms-5">
                        <i class="bi-telephone"></i> 844-4K9-SAFE (459-7233)
                    </div>
                    <div class="ms-5">
                        <i class="bi-envelope"></i> info@premierk9.com
                    </div>
                </div>
                <div class="d-md-inline-flex flex-md-row w-100 my-2 fw-bolder">
                    <ul class="navbar-nav flex-grow-1">
                        <li class=nav-item>
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="bi-alarm"></i>Action</a></li>
                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" href="#">Another item</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary fw-bold" href="/Utility/">Access Utility Panel</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
</header>
