@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark bg-gradient fixed-top" style="border-bottom: 5px solid #390bb5;">
        <div class="container-fluid">
            <a class="navbar-brand" style="padding: 0 !important;" asp-controller="Home" asp-action="Index">
                <img class="shadow-lg rounded" style="height: 61px;" src="/img/logo.png" />
            </a>  


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-md-flex flex-md-column" id="navbarSupportedContent">
                <div class="d-none d-md-inline-flex flex-row justify-content-end text-white-50 fw-light w-100">
                    <div class="ms-5">
                        <i class="bi-telephone"></i> 844-4K9-SAFE (459-7233)
                    </div>
                    <div class="ms-5">
                        <i class="bi-envelope"></i> info@premierk9.com
                    </div>
                </div>
                <div class="d-md-inline-flex flex-md-row-reverse w-100">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class=nav-item>
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="bi-alarm"></i>Action</a></li>
                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" href="#">Another item</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
</header>
