<div class="position-fixed m-auto vh-100 vw-100 top-0 start-0 d-flex flex-column justify-content-center align-items-center">
  <div class="rounded-3 mb-3" style="background-color: #bf1828;">
    <img src="assets/img/logo.png" />
  </div>
  <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 card">
    <div class="card-header">
      <h1 class="text-center">Login</h1>

    </div>
    <div class="card-body">
      <div class="alert-danger my-2 p-2 rounded" *ngIf="errorMessage != ''">
        {{errorMessage}}
      </div>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
        <div class="form-group rounded my-2"
             [ngClass]="{  'alert-danger': email.invalid && (email.dirty || email.touched)}">
          <input type="email" class="form-control" formControlName="email" placeholder="Email" required
                 [ngClass]="{'border-danger': email.invalid && (email.dirty || email.touched)}">
          <div class="form-control-feedback p-2"
               *ngIf="email.errors && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">Email is required</span>
            <span *ngIf="email.errors.pattern">Email must contain @</span>
          </div>
        </div>

        <div class="form-group rounded"
             [ngClass]="{'alert-danger': password.invalid && (password.dirty || password.touched)}">
          <input type="password" class="form-control" formControlName="password" required placeholder="Password"
                 [ngClass]="{'border-danger': password.invalid && (password.dirty || password.touched)}">
          <div class="form-control-feedback p-2"
               *ngIf="password.errors && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">Password is required</span>
            <span *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </span>
          </div>
        </div>

        <button class="btn btn-lg btn-primary w-100 my-3" [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>
